@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1, h2, strong {
  color: #333;
}

.input {
  margin-top: 30px;

  label {
    display: block;
    color: #333;
    font-weight: bold;
  }
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: #e81c4f;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 6px 0px;
  max-width: 500px;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px;
  font-size: 16px;
  color: #555;

  &:focus{
    border-color: #3399ff;
    outline: none;
  }
}

@mixin currency-block($symbol-margin: 18px 0 0 0, $input-margin-left: 20px, $input-max-width: 130px) {
  position: relative;

  &:before {
    content: "$";
    display: block;
    position: absolute;
    top: 0;
    margin: $symbol-margin;
  }
}

.input.company_budget, .input.company_actual {
  @include currency-block($symbol-margin: 40px 0px 0px 0px);

  input {
    margin-top: 10px;
    margin-left: 15px;
  }
}

input[type="submit"] {
  margin-top: 20px;
}

.edit-link {
  margin-right: 15px;
}
